* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #667c9e;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.campo {
    align-items: center;
}

a {
    text-decoration: solid;
    color: rgba(12, 11, 11, 0.829);
    margin: 15x;
    padding: 5px 15px;
    border: 2px outset rgb(32, 43, 201);
    border-collapse: collapse;
}

a:hover {
    cursor: pointer;
    text-shadow: black 0px 0px 30px;
    border: 1px outset rgb(199, 75, 75);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2,
h3 {
    color: #333;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #f4f4f4;
}

.text {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

.itens-conteiner .img-itens img {
    max-width: 420px;


}

.itens-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 10%;

}#imagen1{
    margin: 0 auto;
    margin-bottom: 10px;
    width: 600px;
}
iframe{
    margin-left: 400px;
}